@model IEnumerable<backend.Models.Produto>

@{
    ViewData["Title"] = "Cardapio";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    Layout = "~/Views/Cliente/_LayoutTiposProdutos.cshtml";
}


<head>
    <title>@ViewData["Title"] - Outros</title>
    <style>
        .main {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            flex-grow: 1;
            flex-flow: wrap;
            gap: 8px;
            overflow: hidden;
            overflow-y: auto;
        }

        .card {
            text-decoration: none;
            width: 130px;
            height: 130px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 2px black;
        }

        .imgCard {
            background: #CECECE;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
            min-height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .textCard {
            background: #FFFFFF;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            width: 100%;
            min-height: 30%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #66482B;
            text-decoration: none;
            font-size: 85%;
        }

        .imagem {
            list-style-type: none;
        }

        a {
        }

    </style>

</head>
<body class="body">
    <main class="main">
        @foreach (var item in Model)
        {
            <a class="card" asp-action="ConfirmaPedidos" asp-route-id="@item.Id">
                <div class="imgCard">
                    <img src="~/assets/@{
                                @item.Imagem}"
                         alt="Produto: @item.Nome"
                         width="80%" height="80%" />
                </div>
                <p class="textCard"> @item.Nome</p>
            </a>
        }
    </main>



</body>